<h1>CSV Uploader Assignment</h1>
<div class="csv-file-chooser-section">

  <input type="file" #fileImportInput name="File Upload" id="csvFileUpload" (change)="fileChangeListener($event)"
    accept=".csv" />
   <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="filterTerm">

</div>

<div class="csv-result-table">

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Sur Name</th>
        <th>Issue Count</th>
        <th>Date Of Birth</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let csvData of csvRecords | filter:filterTerm;let i = index;">

        <td>{{i+1}}</td>
        <td>
          <span>{{csvData.Firstname}}</span>
        </td>
        <td>
          <span>{{csvData.Surname}}</span>
        </td>
        <td>
          <span>{{csvData.Issuecount}}</span>
        </td>
        <td>
          <span>{{csvData.Dateofbirth}}</span>
        </td>

      </tr>
    </tbody>
  </table>

</div>